.swiper {
	display:        flex;
	flex-direction: column;
	align-items:    center;
	padding-top:    7rem;
}

.owl-carousel {
	width: 60% !important;
}

.owl-stage-outer {
	height:  30rem;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.swiper-box img {
	width: 80% !important;
}

.owl-carousel .item {
	border:        1px solid #eee;
	border-radius: 35px;
	width:         86%;
}
.owl-carousel .item a{
	color: black;
}
.owl-carousel .item:hover {
	box-shadow: 0 0 30px #ddd;
	cursor:     pointer;
	transition: all 200ms ease-out;
}

.owl-carousel .item:not(:hover) {
	box-shadow: 0 0 0 #ddd;
	transition: all 200ms ease-out;
}

.owl-carousel .item div {
	padding:    0 2rem;
	height:     250px;
	overflow:   hidden;
	margin-top: 1rem;
	border-bottom: 10px inset #ffffff;
	border-radius: 35px;
}
.owl-carousel .item div h3 {
	font-size: 1.4rem;
}
.owl-carousel .item div p {
	text-align: justify;
	font-size: 0.9rem;
}

.owl-next, .owl-prev {
	position: absolute;
	bottom:   270px;
	background-color: transparent !important;
}

.owl-prev {
	left: -80px;
}

.owl-next {
	right: -80px;
}

.owl-next span, .owl-prev span {
	font-size:     2rem;
	border-radius: 50%;
	width:         45px;
	height:        45px;
	display:       block;
	color: #1A59F5;
	font-weight: bold;
}

.owl-next span:hover, .owl-prev span:hover {
	box-shadow: -2px 4px 25px 9px #eee;
	transition: all 200ms ease-out;
}

.owl-next span:not(:hover), .owl-prev span:not(:hover) {
	box-shadow: -2px 4px 18px -2px #eee;
	transition: all 200ms ease-out;
}

button.owl-dot span{
	background-color: #BACDFC !important;
}
button.active span{
	background-color: #1958F5 !important;
	width: 35px !important;
	transition: width 400ms ease-in-out;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
	display: block !important;
}
