.blog {
	margin: 10vw 15% 0;
	
}

.blog-head {
	display:         flex;
	flex-direction:  row-reverse;
	justify-content: space-between;
}

.blog-head > p {
	font-weight: bold;
	opacity:     0.5;
}

.blog-title {
	text-align: right;
}

.blog-bg {
	height:            20vw;
	margin:            2rem 0 3rem;
	background-image:  url("../img/blog-bg.png");
	background-repeat: no-repeat;
	background-size:   99%;
}

.blog-content {
	font-size:     1.5rem;
	margin-bottom: 10rem;
	text-align:    justify;
	direction:     rtl;
}

.article-wrapper {
	position: relative;
	top:      8rem;
}

.article-box {
	font-size:     1.2rem;
	position:      absolute;
	border-radius: 20px;
}

.article-box > a {
	text-decoration: none;
	color:           black;
}

.article-left {
	left:       -140px;
	height:     102px;
	transition: all 300ms ease-in-out;
	text-align: right;
}

.article-left:hover {
	left: -80px;
}

.article-left:not(:hover) {
	transition: all 300ms 500ms ease-in-out;
}
.article-right:not(:hover) {
	transition: all 300ms 500ms ease-in-out;
}

.article-right {
	right:      -140px;
	height:     102px;
	transition: all 300ms ease-in-out;
}

.article-right:hover {
	right:  -80px;
	height: unset;
}

.article-preview {
	position:         relative;
	z-index:          -1;
	top:              -83px;
	height:           75px;
	text-align:       center;
	opacity:          0;
	border-radius:    20px;
	background-color: #efefef;
}

.article-preview:first-child {
	left: -95px;
}

.article-preview:last-child {
	right: -95px;
}

.article-left:hover {
	height: unset;
}

@keyframes anim-left {
	0% {
		left:    -95px;
		top:     -83px;
		opacity: 0;
	}
	50% {
		left: 7rem;
		top:  -83px;
	}
	100% {
		left:    7rem;
		top:     15px;
		opacity: 1;
	}
}

@keyframes anim-left-not {
	0% {
		left:    7rem;
		top:     15px;
		opacity: 1;
	}
	50% {
		left: 7rem;
		top:  -83px;
	}
	100% {
		left:    -95px;
		top:     -83px;
		opacity: 0;
	}
}

@keyframes anim-right {
	0% {
		right:   -95px;
		top:     -83px;
		opacity: 0;
	}
	50% {
		right: 7rem;
		top:   -83px;
	}
	100% {
		right:   7rem;
		top:     15px;
		opacity: 1;
	}
}

@keyframes anim-right-not {
	0% {
		right:   7rem;
		top:     15px;
		opacity: 1;
	}
	50% {
		right: 7rem;
		top:   -83px;
	}
	100% {
		right:   -95px;
		top:     -83px;
		opacity: 0;
	}
}

.article {
	width:      240px;
	transition: all 300ms ease-in-out;
	opacity:    0.3;
}

.article:hover {
	opacity: 1;
}

.mb-5rem {
	margin-bottom: 5rem;
}

.owl-blog-wrapper {
	width:         80%;
	margin-right:  auto;
	margin-left:   auto;
	border-radius: 50px;
	background:    #F9F9F9;
}

.main-heading {
	font-size:   2rem;
	font-weight: bold;
	padding:     3rem 0 1rem;
	text-align:  center;
}

.owl-blog {
	width:      60% !important;
	margin:     auto;
	background: #fafcff1a;
}

.category-wrapper {

}

.category-wrapper img {
	width: 100%;
}

.category-box {
	width:  60%;
	margin: auto;
}

.rect {
	font-size:        1.3rem;
	position:         absolute;
	bottom:           -106px;
	left:             0;
	width:            100%;
	height:           107px;
	padding:          1rem;
	transition:       all 300ms ease-in-out;
	text-align:       right;
	opacity:          0;
	color:            #fff;
	border-radius:    35px;
	background-color: #00000080;
}

.cat-item {
	border-radius: 35px;
}

.cat-item a:hover > .rect {
	bottom:  0;
	opacity: 1;
}

@media screen and (max-width: 575px) {
	.blog {
		margin: 22vw 15% 0;
	}
	
	.blog-bg {
		margin-bottom: 1.7rem;
	}
	
	.blog-head h1 {
		font-size: 2rem;
	}
	
	.blog-head p {
		font-size: 0.9rem;
	}
	
	.blog-content {
		font-size: 1rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.blog {
		margin: 20vw 15% 0;
	}
	
	.blog-bg {
		margin-bottom: 2rem;
	}
	
	.blog-head h1 {
		font-size: 2rem;
	}
	
	.blog-head p {
		font-size: 0.9rem;
	}
	
	.blog-content {
		font-size: 1rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.blog {
		margin: 15vw 15% 0;
	}
	
	.blog-bg {
		margin-bottom: 2rem;
	}
	
	.blog-head h1 {
		font-size: 2rem;
	}
	
	.blog-content {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
	.blog {
		margin: 15vw 15% 0;
	}
	
	.blog-bg {
		margin-bottom: 2rem;
	}
	
	.blog-content {
		font-size: 1.3rem;
	}
}
